/* all link css files */

/* <link rel="stylesheet" href="./css/app.css">
<link rel="stylesheet" href="./css/app-bg.css">
<link rel="stylesheet" href="./css/app-color.css">
<link rel="stylesheet" href="./css/app-flex.css">
<link rel="stylesheet" href="./css/app-rgba-bg.css">
<link rel="stylesheet" href="./css/app-text-size.css">
<link rel="stylesheet" href="./css/app-btn-hover.css">
<link rel="stylesheet" href="./css/app-btn.css">
<link rel="stylesheet" href="./css/app-rgba-bg.css"> */

/* all link css files */


*{margin: 0; padding: 0; box-sizing: border-box;font-family: sans-serif;scroll-behavior: smooth;}
.rtl{direction: rtl;}
.ltr{direction: ltr;}
.pointer{cursor: pointer;}
.link{text-decoration: none; transition: 1s;}
.opa-anim{ animation: 2s opa-anim ; }
@keyframes opa-anim {
  0%{opacity: 0;}
  100%{opacity: 1;}
}

/* scroll bar */
::-webkit-scrollbar{width: 3px;}
::-webkit-scrollbar-thumb{background-color: #112B3C; border-radius: 50px;} 
/* scroll bar */

/* card */
.app-cart{width: 360px; display: flex;border-radius: 15px; overflow: hidden;}
.app-cart-img{width: 180px; height: 200px;}
.app-img-cart{width: 100%; height: 200px;}
.app-cart-text{width: 180px; height: 200px; display: flex; flex-direction: column;background: #303030;}

/* html template */
      /* <div class="app-flex-wrap app-flex-justify-content"  style="width:100%;">

        <div class="app-cart my-2 mx-2" v-for="test in tests" :key="test.id">
          <div class="app-cart-img">
           <img :src="test.img" class="app-img-cart" alt="error">
          </div>
          <div class="app-cart-text px-3 app-flex-justify-content">
            <span class="app-text-size-y app-light-color">Nike Sport</span>
            <span class="app-text-size-y app-gray-color">Lorem ipsum dolor, sit amet consectetur adipisicing elit</span>
            <span class="app-text-size-z app-gray-color">2000$</span>
            <div>
              <button class="app-btn-blue mt-2">Add To Cart</button>
            </div>
          </div>
        </div>

      </div> */
/* html template */

/* card */

/* badge system */
.badge{border-radius: 50%; padding: 5px 5px;}
/* badge system */
